{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.16.0"
        },
        "loose": false,
        "modules": "auto",
        "corejs": 2,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2
      }
    ]
  ]
}
