{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome" : 52,
        "browsers": ["last 2 versions", "safari >= 7"]
        // node : 6.10.11
        },
        "loose": false,
        "spec":true,
        //"modules": false,
         "corejs": 2,
         //"esmodules":true,
         "useBuiltIns": "usage"
      }
    ],
  ],
  "plugins": [
      // ["@babel/plugin-transform-runtime",{
      //     "corejs":2
      // }],

  ]
}
