{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                  browsers: [
                      {{#if terminal  "H5"}}
                      "iOS >= 8",
                      "Android >= 4",
                      {{else}}
                      "last 2 versions",
                      "> 1%",
                      "ie >= 9"
                      {{/if}}
                  ]
                },
                "loose":false,
                "modules":false,
                "corejs": 2,
                "useBuiltIns":"usage"
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime",{
            "corejs":2
        }]
    ]
}
